html {
    box-sizing: border-box;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: #1F2937;
    padding: 0 3rem;
    justify-content: space-between;
    flex: 1 0 auto;
    min-height: 4em;

}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

main {
    display: flex;
    flex-direction: column;
}

.presentation {
    display: flex;
    background-color:#1F2937;
    padding: 5rem 3rem;
    gap: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 0.6em;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left > .text {
    font-size: 18px;
    color: #E5E7EB;
}

.left > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    flex: 0 1 auto;
    max-width: fit-content;
    padding: 0.5em 2em;
}

.right {
    display: flex;
    flex-basis: 50%;
    background-color: grey;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.photos {
    display: flex;
    flex-direction: column;
    padding: 0 0 4rem;
}

.photos > p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    max-width: fit-content;
    align-self: center;
    margin: 2rem;
}

.content {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card {
    flex: 0 1 150px;
    gap: 0.5rem;
}

.photo {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.card > p {
    text-align: center;
}

